<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.softaccountbook.user.UserMapper">
    <insert id="signUp" useGeneratedKeys="true" keyProperty="iuser">
        INSERT INTO user_tbl(email, upw, nm, gender, age, first_created_at, first_created_user)
        VALUES (#{email}, #{upw}, #{nm}, #{gender}, #{age}, NOW(), (SELECT IFNULL(MAX(iuser) + 1, 1) FROM user_tbl u))
    </insert>

    <select id="emailSignIn">
        SELECT iuser, upw, nm FROM user_tbl WHERE email = #{email}
    </select>
    
    <delete id="withdrawal">
        DELETE FROM user_tbl
        WHERE iuser = #{iuser}
    </delete>

    <select id="nmChk">
        SELECT COUNT(*) FROM user_tbl WHERE nm = #{nm}
    </select>
</mapper>