main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 210px;
    padding: 5px;
    box-sizing: border-box;
}

.form-sign-up {
    width: 100%;
}

#div-teams-of-use {
    display: block;
    width: 100%;
}

.errors {
    border-color: #dc3545;
    color: red;
}